{% extends "helpdesk/customize.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load saved_queries %}
{% load load_helpdesk_settings %}

{% block helpdesk_title %}Helpdesk :: {% trans "Powered by django-helpdesk" %}{% endblock helpdesk_title %}
{% block extra_css %}
    {{block.super}}
    <!-- following from base.html -->
    <!-- Morris Charts CSS -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    {% else %}
    <link href="{% static 'helpdesk/vendor/morrisjs/morris.css' %}" rel="stylesheet">
    {% endif %}

    <!-- DataTables CSS -->
    <link href="{% static 'helpdesk/vendor/datatables/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'helpdesk/vendor/datatables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block head_js %}
    {{block.super}}
    <!-- following from base.html -->
    <!-- jQuery -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% else %}
    <script src="{% static 'helpdesk/vendor/jquery/jquery.min.js' %}"></script>
    {% endif %}

    <!-- jQuery UI DatePicker -->
    <script src='{% static "helpdesk/vendor/jquery-ui/jquery-ui.min.js" %}' type='text/javascript' language='javascript'></script>
    <link href="{% static 'helpdesk/vendor/jquery-ui/jquery-ui.css' %}" rel="stylesheet">

    <!-- Bootstrap Core JavaScript -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% else %}
    <script src="{% static 'helpdesk/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endif %}

    <!-- DataTables JavaScript -->
    <script src="{% static 'helpdesk/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'helpdesk/vendor/datatables/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'helpdesk/vendor/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'helpdesk/dist/js/sb-admin-2.js' %}"></script>

    <!-- RSS -->
    <link rel='alternate' href='{% url 'helpdesk:rss_user' user.get_username %}' type='application/rss+xml' title='{% trans "My Open Tickets" %}' />
    <link rel='alternate' href='{% url 'helpdesk:rss_activity' %}' type='application/rss+xml' title='{% trans "All Recent Activity" %}' />
    <link rel='alternate' href='{% url 'helpdesk:rss_unassigned' %}' type='application/rss+xml' title='{% trans "Unassigned Tickets" %}' />
{% endblock head_js %}
{% block basebase_end_body_js %} {# jquery 1.9.0 BS core 3.3.7 included above so suppress at end #} 
{% endblock basebase_end_body_js %}

{% block basebase_extra_style %}
    {{block.super}}
    <!-- following from base.html -->
    <style type="text/css">
    /* hide google translate top bar */
    .goog-te-banner-frame {display: none !important;}
    .goog-te-balloon-frame {display: none !important;}
    /* hide google translate tooltips (generated for every translated item) */
    .goog-tooltip {display: none !important; }
    </style>

    <style type="text/css">
    /* header */
    #dropdown li.headerlink { width: auto; float: left; text-align: center; }

    /* query list */
    #dropdown li.headerlink ul {    display: none;
                                    text-align: left;
                                    position: absolute;
                                    padding: 5px;
                                    z-index: 2; }
    /* query entries */
    #dropdown li.headerlink:hover ul { display: block; width: auto; }
    #dropdown li.headerlink:hover ul li { padding: 5px; margin: 1px; float: none; display: block; }

    /* background color for dev site */
    .panel > .panel-heading {
    background-image: none;
    background-color: #999966;
    color: white;

}

    </style>
{% endblock basebase_extra_style %}



