{% load i18n %}
{% load saved_queries %}
{% load load_helpdesk_settings %}
{% load static from staticfiles %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
{% with user|saved_queries as user_saved_queries_ %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

<title>{% block helpdesk_title %}{% endblock helpdesk_title %} </title>

{% block basebase_css %}
    <!-- Bootstrap Core CSS -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% else %}
    <link href="{% static 'helpdesk/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endif %}

    <!-- MetisMenu CSS -->
    <link href="{% static 'helpdesk/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
{% endblock basebase_css %}
{% block extra_css %} 
{% endblock extra_css %}

{% block custom_css %}
    <!-- Custom CSS -->
    <link href="{% static 'helpdesk/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <link rel='stylesheet' href='{% static "helpdesk/helpdesk-extend.css" %}' type='text/css'  media="screen" >
{% endblock custom_css %}

{% block custom_fonts %}
    <!-- Custom Fonts -->
    <link href="{% static 'helpdesk/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
{% endblock custom_fonts %}

{% block head_js %}{% endblock head_js %}
{% block IEstuff %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock IEstuff%} 
{% block basebase_extra_style %}
    <style type="text/css">
   
    /* background color for dev site */
    .panel > .panel-heading {
    background-image: none;
    background-color: #999966;
    color: white;
    }

    </style>
{% endblock basebase_extra_style %}
{# helpdesk_head is a nasty name, but pre-existing so I have to preserve it #}
{% block helpdesk_head %}{% endblock helpdesk_head %}

</head>

<body id="helpdesk-body">

    <div id='container' class="container">
        {% block basebase_header %}
        <div id='header' class="row">
            <h1>{% block h1_title %}{% trans "Helpdesk" %}{% endblock h1_title %}</h1>
            {% block navigation %}{% endblock %}
        </div>
        {% endblock basebase_header %}

        <div id='body' class="row">
            {% block helpdesk_body %}{% endblock helpdesk_body %}
        </div>

        {% block attribution %}
        <div id='footer' class="row">
            <div class="col-md-2">{% include "helpdesk/attribution.html" %}</div>
        </div>
        {% endblock attribution %}
    </div>
    {% include "helpdesk/debug.html" %}

{% block basebase_end_body_js %} {# jquery 1.9.0 BS core 3.3.7 #}
    <!-- jQuery -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% else %}
    <script src="{% static 'helpdesk/vendor/jquery/jquery.min.js' %}"></script>
    {% endif %}
    <script src='{% static "helpdesk/vendor/jquery-ui/jquery-ui.min.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% else %}
    <script src="{% static 'helpdesk/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endif %}
{% endblock basebase_end_body_js %}

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'helpdesk/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'helpdesk/dist/js/sb-admin-2.js' %}"></script>


</body>
</html>
{% endwith %}
{% endwith %}
